body, html {
    height: 100%;
   margin: 0;
}

.contain {
   background-image: url('https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
   height: 100%;
   background-position: center;
   background-size: cover;
   position: relative;
   color: white;
   font-family: "Courier New", Courier, monospace;
   font-size: 20px;
}

.top {
   position: absolute;
   margin-top: 20px;
   right: 16px;
   margin-right: 70px;
}

.bottom {
   position: absolute;
   bottom: 0;
   text-align: center;
   left: 50%;
   transform: translate(-50%);
   font-size: 20px;
}

.middle {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

hr {
   margin: auto;
   width: 90vi;
}
nav a {
   text-decoration: none;
   color: azure;
   
   font-size: 30px;

}
.Progress {
     width: 100%;
     background-color: #ddd;
     /* border: solid black; */
     box-shadow: 1px 2px 2px midnightblue;
     border-radius: 5%;
    
}
   
.Bar {
     width: 70%;
     height: 20px;
     background-color: cadetblue;
     border-radius: 5%;
}
.per {
   display: flex;
   justify-content:space-between
}
button {
    background-color: lightblue;
    padding: 5px 10px;
    box-shadow: 1px 2px 8px;

}
.icon {
   /* position: absolute; */
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin: 10px;
   
}
.icon a {
   margin: 10px;
   padding: 10px;
   width: 40px;
   height: 40px;
   text-align: center;
   background-color: aliceblue;
   border: solid black;  
   border-radius: 50%;
}
